 :root {
    
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --main-sections-color: #ffffff;
    --title-text-color: #212121;
    --foothero-back-color: #2F303A;
    --background-main-color: #e5e5e5;
    --back-teamsection-color: #F5F4FA;
    --button-hero-back-color: #188CE8;
    
 }
 
 /* ============================== ЗАГАЛЬНІ ============================== */

body {

    font-family: "roboto", sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--background-main-color);
}

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        }
    .noline {text-decoration: none;}

    ul, ol {margin: 0; padding: 0;}
    p, h1, h2, h3, h4, h5, h6 {margin: 0;}    

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

        .container {
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;

            /* outline: 2px solid red; */
        }
        .section {
            padding-top: 94px;
            padding-bottom: 94px;
        }
 img {
    display: block;
    max-width: 100%;
    height: auto;  
}
 /* ============================== ГОЛОВА ============================== */
    .header {
        letter-spacing: 0.02em;

        background-color: #FFFFFF;
        border-bottom: 1px solid #ECECEC;
    }
    .header-container {
        display: flex;
        align-items: center;
    }

/* ---------- логотип ---------- */
    .logo {
        font-family: "raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: #ffffff;
        }
    
        .logo-web { color: var(--accent-color);       }
        .logo-studio {   color: #000000;        }
    
        .logo:hover,
        .logo:focus { color: var(--accent-color);   }
    
        .logo-studio:hover,
        .logo-studio:focus {color: var(--accent-color); }


/* ---------- навігація сайту ---------- */
.navsite {margin-left: 90px;}
    .navsite-list {
        display: flex;
        column-gap: 50px;
    }

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        color: var(--title-text-color);
        }
        .link:hover,
        .link:focus {color: var(--accent-color);}
        .link.current {color: var(--accent-color);}
    
    .contacts-list {
        display: flex;
        margin-left: auto;
        column-gap: 50px;
    }
    .contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        color: var(--main-text-color);
        }
        
        .contacts:hover, 
        .contacts:focus {
        color: var(--accent-color);
        }
/* ============================== МЕЙН ============================== */
/* ------------------------------ ГЕРОЙ ------------------------------ */
    .hero {
        text-align: center;
        color: #FFFFFF;
        background-color: var(--foothero-back-color);

        padding-top: 200px;
        padding-bottom: 200px;
        
    }


        .hero-title {
            width: 696px;
            margin-left: auto;
            margin-right: auto;

            margin-bottom: 30px;
     
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-transform: uppercase;

            letter-spacing: 0.06em;

/*             
            background-color: tomato; */
            }

        .btn {
            display: inline-block;
            cursor: pointer;
            padding: 10px 30px;
            margin-right: auto;
            margin-right: auto;

            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;

            text-align: center;
            letter-spacing: 0.06em;

            background-color: var(--accent-color);
            color: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: 0;
            }
            .btn:hover, .btn:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            background-color: var(--button-hero-back-color);
            }

/* ------------------------------ особливості ------------------------------ */
    .features {
        background-color: var(--main-sections-color);
    }

        .features-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .features-list-item {width: calc((100% - 90px) / 4);}

        .features-list-title {
            margin-bottom: 10px;
            
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;

            color: var(--title-text-color);
            }
        .features-list-p {

            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;

            color: var(--main-text-color);
            }

/* ------------------------------ чим займаємося ------------------------------ */
.ourworks {
    padding-top: 0;
    background-color: var(--main-sections-color);
    }

    .ourworks-title {
        margin-bottom: 50px;
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;

        color: var(--title-text-color);
    }
    .ourworks-list {
        display: flex;
        gap: 30px;
    }

    .ourworks-img {display: block;}
/* ----------------------------- наша команда ------------------------------ */
.team {
    background-color: var(--back-teamsection-color);
}
    .team-title {
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;

        color: var(--title-text-color);
    }

    .team-list {
        display: flex;
        gap: 30px;
    }

    .team-list-item {
        padding-bottom: 30px;
        width: calc((100% - 90px) / 4);
        

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

        .team-list-img {margin-bottom: 30px;}

        .team-card-title {
            margin-bottom: 10px;
            
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;

            color: var(--title-text-color);
        }
        .team-card-text {
            margin-bottom: 0;

            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;

            color: var(--main-text-color);
        }

/* ============================== НОГИ ========================= */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--foothero-back-color);
}

    .address {
        margin-top: 20px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        
        color: #ffffff;
    }
    .address li {margin-top: 9px;}

        .contacts-down {

        color: rgb(255,255,255,60%);}
        .contacts-down:hover, .contacts-down:focus {color: var(--accent-color);}

/* ============================================================= */
/* ========================= ПОРТФОЛІО ========================= */
.main {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--main-sections-color);
}

/* --------- кнопки --------- */
.btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

    .btn-port {
        cursor: pointer;
        padding: 6px 22px;

        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        
        text-align: center;
        letter-spacing: 0.03em;

        background-color: #F5F4FA;
        color: var(--title-text-color);

        border: 0;
        border-radius: 4px;
  }

    .btn-port:hover,
    .btn-port:focus {
        background-color: var(--accent-color);
        color: #ffffff;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
/* ------------ вибірка ------------ */
.select-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
    .select-list-item {
        width: calc((100% - 60px) / 3);

        background-color: var(--main-sections-color);
        border: 1px solid #EEEEEE;
    }

    .port-card-div {
        padding: 20px 24px;
    }
    .port-list-title {
        
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        color: var(--title-text-color);
    }
    .port-list-p {
        margin-top: 4px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;

        color: var(--main-text-color);
    }